<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabid.aspasn">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddJournalTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AccountsActivity"
            android:exported="false" />
        <activity android:name=".Activities.DebugButtonsActivity" />
        <activity android:name=".Activities.CalculatorActivity" />
        <activity android:name=".Activities.AddAccountActivity" />
        <activity android:name=".Activities.AddCashTransactionActivity" />
        <activity android:name=".Activities.AddAccountTypeActivity" />
        <activity android:name=".Activities.AccountingPeriodActivity" />
        <activity android:name=".Activities.AddProductActivity" />
        <activity android:name=".Activities.AddProductTypeActivity" />
        <activity android:name=".Activities.AddInvoiceActivity" />
        <activity android:name=".Activities.AddOwnerActivity" />
        <activity android:name=".Activities.AddCashBankAccountActivity" />
        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" />
    </application>

</manifest>
