<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabid.aspasn">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".ExpenseAccountsActivity"></activity>
        <activity android:name=".AddExpenseAccountActivity" />
        <activity
            android:name=".AddDirectTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".AccountsActivity"
            android:exported="false" />
        <activity android:name=".DebugButtonsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".AddAccountActivity" />
        <activity android:name=".AddCashTransactionActivity" />
        <activity android:name=".AddAccountTypeActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0" />
    </application>

</manifest>